
{% extends "base.html" %}  <!-- base.htmlの読み込み、継承　--> 
{% block content %}  <!--index.html内のcontentの内容-->
    <h1>電カル自動入力アプリ_RDB版</h1>
    <a href="/signup" role="button">サインアップ</a>
    <a href="/login" role="button">ログイン</a>

    {% for  post in posts %}
    <article>
        <h2>{{ post.title }}</h2>
        <a href="/{{post.id}}/update" role="button">編集</a>
        <a href="/{{post.id}}/delete" role="button">削除</a>
        <p>{{ post.created_at }}</p>
        <p>{{ post.body }}</p>
    </article>
    {% endfor %}
{% endblock %}